extends layout

block content
  h1= title

  if users
    table
      tr
        th No
        th First Name
        th Last Name
        th
        th
      each user, i in users
        tr
          td #{i+1}
          td #{user.firstname}
          td #{user.lastname}
          td
            a(href="/updateUser/#{user.firstname + ' ' + user.lastname}/#{i}") Update
          td
            a(href="/deleteUser/#{i}") Delete
